@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}
.apresentacao__imagem{
    width: 40%;
    border-radius: 12px;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}


.container {
    max-width: 600px;
    margin: 0 auto;
    font-family: var(--fonte-secundaria);
    font-weight: bold;
}

.progress_title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 14px;
}

.skill {
    margin-bottom: 20px;
}

.skill label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 20px;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
}

.progress {
    height: 100%;
    border-radius: 20px;
    width: 0;
    transition: width 1s ease-in-out;
}

#js { background-color: #f0db4f; width: 80%; }
#react { background-color: #61dbfb; width: 70%; }
#node { background-color: #68a063; width: 75%; }
#java { background-color: #007396; width: 60%; }
#sql { background-color: #8f0000; width: 85%; }
#nosql { background-color: #bb8a6d; width: 90%; }

.experience {
    font-size: 16px;
    color: #f3f1f1;
    display: inline-block;
    margin-left: 10px;
}


.contact__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    margin-top: 30px;
    margin-bottom: 20px;
}

.contact__form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; 
}

.contact__form {
    width: 300px;
    border: 2px solid rgb(28, 226, 216);
    padding: 50px;
    margin: 20px auto; 
    font-weight: bold;
    border-radius: 10px;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form input[type="tel"],
.contact__form input[type="assunto"]{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
}

.contact__form button.contact__form__submit {
    width: 100%;
    padding: 10px;
    background-color: rgb(28, 226, 216);
    border: none;
    border-radius: 5px;
    color: rgb(14, 13, 13);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

}

.contact__form button.contact__form__submit:hover {
    background-color: rgb(20, 150, 150);
}

.testemonial_title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    margin-top: 30px;
    margin-bottom: 20px;
}


.testemonial_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.testemonial_card {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.testemonial_card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.testemonial_text {
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
    line-height: 1.5;
    font-style: italic;
}

.testemonial_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testemonial_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover

}

.aprendizado {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    margin-top: 30px;
}
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .technologies ul {
    list-style: none;
    padding: 0;
  }
  
  .technologies li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    margin-bottom: 14px;
  }
  
  .tips .tip {
    margin: 20px 0;
    padding: 15px;
    border-left: 5px solid var(--primary-color);
    border-radius: 5px;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    margin-top: 30px;
  }
  
  pre {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 10px;
  }
  
  form {
    margin-top: 30px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: var(--secondary-color);
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(28, 226, 216);
    border: none;
    border-radius: 5px;
    color: rgb(14, 13, 13);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  form button:hover {
    background-color: rgb(20, 150, 150);
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.75rem;
    }
  
    form button {
      font-size: 0.9rem;
    }
  }
  



